
*,
*::before,
*::after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 17px;
  scroll-behavior: smooth;
}

p{
  margin: 0;
}

body{
  font-family: "Josefin Sans",sans-serif;
  background-color: var(--light-color);
}

ul,li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--black-color);
  font-weight: 300;
  transition: color 0.5s;
              
  &:hover{
      color: salmon;
  }
}

ul{
  list-style: none;
}

img{
  width: 100%;
  cursor: pointer;
}