.basket-page{
          position: relative;
          top: 6rem;

          &__banner{
                    position: relative;
                    &__text{
                              display: flex;
                              flex-direction: column;
                              justify-content: center;
                              align-items: center;

                              div{
                                        position: absolute;
                                        text-align: center;
                                        bottom: 30%;
                              }
                        
                    }
          }

          &__products{
                  padding: 10px;

                    &__header{
                         
                              background-color: var(--light-gray);
                              border: solid 1px rgb(218, 218, 218);
                              padding: 10px;

                              div{
                                    display: flex;
                                    justify-content: center;
                              }
                    }

                    &__product{
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              border:solid 1px rgb(218, 218, 218);
                              padding: 5px;

                              &__top{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                   .delete-icon{
                                          width: 15%;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                   }

                                   .image{
                                          width: 35%;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                   }

                                   .image-name{
                                          width: 50%;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                   }
                              }

                             &__bottom{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    div{
                                          width: 33.33333%;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                    }
                             }
 
                    }

                  .sayac{
                        display: flex;
                        align-items: center;
                        margin: 15px 0px;

                        button{
                              padding:5px 10px;
                              border: 1px solid rgb(218, 218, 218);

                        }
                        p{
                              padding: 5px 15px;
                              border: 1px solid rgb(218, 218, 218) ;

                        }
                  
                  }
          }

          &__payment{
            padding: 10px;

            &__header{
                  background-color: var(--light-gray);
                  border: solid 1px rgb(218, 218, 218);
                  padding: 10px;
             }

            &__content{
                  padding: 15px;
                  border: solid 1px rgb(218, 218, 218);

                  p{
                     padding-bottom: 10px;   
                  }

                  &__note{
                        padding-top: 20px;
                  }
            
                  &__buttons{
                        margin-top: 20px;
                      button{
                            margin: 5px 0px;
                      }
                  }
            }
       } 

       &__advice-products {
             position: relative;
             margin-top: 25px;
 
             p{
                   padding: 10px;
             }
             .col-md-4{
                   padding: 5px;
                   background-color: var(--light-color);
             }

            div{
                  text-align: center;
                  background-color: var(--light-gray);
                  position: relative;
      
                  &:hover img{
                     opacity: 0.3;
                  }
      
                  &:hover .hover-icons{
                     display: block;
                 }
                 
                  img{
                      cursor: pointer;
                      background-color: #efefef;
                      transition: all ease 1s;
                  }
      
                  .hover-icons{
                      position: absolute;
                      background: transparent;
                      bottom: 45%;
                      display: none;
      
                      &:hover{
                          display: block;
                      }
      
                      i{
                          padding: 7%;
                          margin: 5%;
                          font-size: 170%;
                          cursor: pointer;
                          transition: all 1s;
                          background-color: rgba($color:#fff, $alpha: 0.8);
                          border-radius: 50px;
           
                          &:hover{
                              color: salmon; 
                              background-color: rgba($color:#fff, $alpha: 1);
                          }
                      }
                  }
      
             }
       }

}

