@media screen and (max-width:576px){
          .favorites-page{

                    &__banner{
                              &__text{
                                        div{
                                                  position: absolute;
                                                  text-align: center;
                                                  bottom: 0;
                                        }
                                  
                              }
                    }
          }
}