.footer{
          width: 100%;
          height: auto;
          background-color: var(--light-gray);
          text-align: center;
         
          .col-md{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    flex-direction: column;
                    padding: 20px;
                   
                    &:not(:last-of-type){
                              border-right: 2px solid #dfdfdf; 
                    }

                    i{
                              font-size: 30px;
                              padding: 10px;
                              transition: color 0.5s;
                              cursor: pointer;
              
                              &:hover{
                              color: salmon;
                              }
                    }

                    p{
                              font-weight: 300;
                    }
          }

}