
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    z-index: 500;

  }

  .container{
      width: 100%;
      max-width: 117rem;
      margin: 0 auto;
      padding: 0 1.5rem;
  }

  .menu-icons{
      color: var(--black-color);
      font-size: 2rem;
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1500;
      display: none;
  }

  .nav{
      width: 100%;
      height: 6rem;
      border-bottom: 1px solid #f2f2f2;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__logo{
        width: 170px;
}

      &__icons{
          a{
            font-size: 30px;
            padding-right: 20px;
          }

          .product{
              display: flex; 
              align-items: center;


            &__img{
                width: 25%;
            }
          
            &__text{
                flex-grow: 2;
   
                p{
                     margin: 0 10px;
                }
            }

            &__iconDelete{

                i{
                    font-size: 20px;
                }
            }
        }

             .payment {
                 margin-top: 30px;

                 &__total{
                     margin-top: 10px;
                     display: flex;
                     justify-content: space-between;
                     
                 }

                 &__buttons{
                     display: flex;
                     flex-direction: column;

                     button{
                         margin-top: 10px;
                     }
                 }
             
          }
          
         
      }

      
      &__list{
          display: flex;
          
          li{
              line-height: 6rem;
              position: relative;

              &:hover > .sub-menu{
                top: 6rem;
                opacity: 1;
                visibility: visible;
             }
          }

          a{
              display: block;
              padding: 0 1.5rem;
             
          }
      }
       
      .sub-menu{
          width: 15rem;
          display: block;
          position: absolute;
          border-top: 3px solid salmon;
          background-color: var(--white-color);
          z-index: 100;
          top: 16rem;
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s ease;

          &::before{
              content: "";
              position: absolute;
              top: -2.5rem;
              left: 3rem;
              border: 1.2rem solid transparent;
              border-bottom-color: salmon;
          }

          li{
              line-height: 3rem;
              &:hover > .sub-menu{
                  left: 100%;
                  top: 0;
              }
          }

          .sub-menu::before{
                top: .9rem;
                left: -2.5rem;
                border: 1.2rem solid transparent;
                border-right: salmon;
          }

          .sub-menu{
              border-top: none;
              border-left: 3px solid salmon;
              top: 0;
              left: 160%;
          }
      }
    

    }
  